button {
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.add-to-cart-image img {
    border: solid 1px #e8e8e8;
}

.product.data.items .item.title.active a:after {
    content: none !important;
}

.product.data.items .item.title a:after {
    content: none !important;
}

.cart.table-wrapper .actions-toolbar>.action-edit:before, .cart.table-wrapper .actions-toolbar>.action-delete:before
{
    content: none !important;
}

.cart.table-wrapper .actions-toolbar>.action-edit>span, .cart.table-wrapper .actions-toolbar>.action-delete>span,
.cart.table-wrapper .actions-toolbar>.action-edit, .cart.table-wrapper .actions-toolbar>.action-delete {
    height: auto;
    margin: auto;
    overflow: hidden;
    padding: 5px;
    position: inherit;
    width: auto;
    right: inherit;
    top: inherit;
}

.paypal-review-discount .block > .title,
#block-giftcard .title {
    background-color: #f5f5f5;
    color: #00843f;
}

#block-discount-heading,
#block-giftcard-heading,
.paypal-review-discount .block > .title:after {
    color: #00843f;
}

.product-info-main .page-title-wrapper .page-title {
    margin-top: 0;
}

#product-addtocart-button i.material-icons {
    padding-right: 5px;
    vertical-align: top;
}

.customer-form-before {
    margin-bottom: 40px;
}

ul > li,
ol > li {
    margin-bottom: 0!important;
}