// /**
//  * Copyright © 2016 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Email extend styles
//  _____________________________________________

//  This file should be used for theme-specific styles for emails that extend or modify the styles in _email.less
//  This will allow you to edit email styles without copying and editing the _email.less file

//  Custom fonts are declared here, rather than in _email-base.less, as it allows for custom fonts to be changed/removed
//  in custom themes.

//  Importing fonts from an external CSS file, rather than embedding @font-face declarations inside the <style> tag,
//  as the latter will cause font rendering issues if the web fonts are inaccessible.

@import url("@{baseUrl}css/email-fonts.css");

.email-non-inline() {
    .button {
        .inner-wrapper {
            td:hover {
                background-color: @color-white !important;
            }

            a:active,
            td:active {
                background-color: @color-contrast-green !important;
            }
        }

        a:active,
        a:visited {
            //  Undo general link hover state
            border: 1px solid @button-primary__hover__background;
            color: @color-white !important;
            text-decoration: none !important;
        }

        a:hover {
            color: @color-contrast-green !important;
            text-decoration: none !important;
        }
    }
}