<?php $rules = $this->getRules(); ?>
<?php if (count($rules['items'])): ?>
<div class="customer-coupons">
    <?php foreach ($rules['items'] as $rule): ?>
        <?php $coupon = $rules['coupons'][$rule->getRuleId()]; ?>
        <?php if (empty($coupon) OR (empty($coupon->getCode()))): continue; endif; ?>
        <div class="customer-coupon">
            <h2><?php echo $rule->getName(); ?></h2>
            <p class="customer-coupon-code"><?php /* @escapeNotVerified */ echo __('Coupon Code') ?>: <?php echo $coupon->getCode(); ?></p>
            <p><?php echo $rule->getDescription(); ?></p>
        </div>
    <?php endforeach; ?>
</div>
<?php else: ?>
<div class="customer-coupons"><p>There are no coupons to display.</p></div>
<?php endif; ?>
