<?php /** @var \ParadoxLabs\Subscriptions\Block\Customer\Edit\Shipping $block */ ?>
<?php // @codingStandardsIgnoreFile?>

<fieldset class="fieldset shipping-address">
    <legend class="legend"><span><?php echo $block->escapeHtml(__('Shipping Address')) ?></span></legend><br>
    <?php $addresses = $block->getCustomer()->getAddresses(); ?>
    <?php $customerAddressId = $block->getSubscription()->getQuote()->getShippingAddress()->getCustomerAddressId(); ?>
    <?php if (!empty($addresses)): ?>
        <div class="field shipping-address-id do-not-toggle required">
            <label class="label" for="shipping_address_id"><span><?php echo $block->escapeHtml(__('Shipping Address')) ?></span></label>
            <div class="control">
                <select id="shipping_address_id" name="shipping[address_id]" title="<?php echo $block->escapeQuote(__('Shipping Address')) ?>" class="control-select">
                    <option value=""><?php echo $block->escapeHtml(__('Enter below')) ?></option>
                    <?php /** @var \Magento\Customer\Api\Data\AddressInterface $address  */ ?>
                    <?php foreach ($addresses as $address): ?>
                        <option value="<?php echo (int)$address->getId(); ?>"<?php if ($address->getId() == $customerAddressId): ?> selected="selected"<?php endif; ?>><?php echo $block->escapeHtml($block->getFormattedAddress($address, 'flat')); ?></option>
                    <?php endforeach; ?>
                </select>
            </div>
        </div>
    <?php endif; ?>
    <?php echo $block->getNameBlockHtml() ?>
    <div class="field company">
        <label class="label" for="company"><span><?php echo $block->escapeHtml(__('Company')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[company]" id="company" title="<?php echo $block->escapeQuote(__('Company')) ?>" value="<?php echo $block->escapeQuote($block->getAddress()->getCompany()) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('company')) ?>">
        </div>
    </div>
    <div class="field telephone required">
        <label class="label" for="telephone"><span><?php echo $block->escapeHtml(__('Phone Number')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[telephone]" value="<?php echo $block->escapeQuote($block->getAddress()->getTelephone()) ?>" title="<?php echo $block->escapeQuote(__('Phone Number')) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('telephone')) ?>" id="telephone">
        </div>
    </div>
    <div class="field fax">
        <label class="label" for="fax"><span><?php echo $block->escapeHtml(__('Fax')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[fax]" id="fax" title="<?php echo $block->escapeQuote(__('Fax')) ?>" value="<?php echo $block->escapeQuote($block->getAddress()->getFax()) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('fax')) ?>">
        </div>
    </div>
    <?php $_streetValidationClass = $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('street')); ?>
    <div class="field street required">
        <label for="street_1" class="label"><span><?php echo $block->escapeHtml(__('Street Address')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[street][]" value="<?php echo $block->escapeQuote($block->getStreetLine(1)) ?>" title="<?php echo $block->escapeQuote(__('Street Address')) ?>" id="street_1" class="input-text <?php echo $_streetValidationClass ?>"  />
            <div class="nested">
                <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                <?php for ($_i = 1, $_n = $this->helper('Magento\Customer\Helper\Address')->getStreetLines(); $_i < $_n; $_i++): ?>
                    <?php $lineNo = (int)($_i+1); ?>
                    <div class="field additional">
                        <label class="label" for="street_<?php echo $lineNo ?>">
                            <span><?php echo $block->escapeHtml(__('Street Address %1', $lineNo)) ?></span>
                        </label>
                        <div class="control">
                            <input type="text" name="shipping[street][]" value="<?php echo $block->escapeQuote($block->getStreetLine($lineNo)) ?>" title="<?php echo $block->escapeQuote(__('Street Address %1', $lineNo)) ?>" id="street_<?php echo $lineNo ?>" class="input-text <?php echo $_streetValidationClass ?>">
                        </div>
                    </div>
                <?php endfor; ?>
            </div>
        </div>
    </div>

    <?php if ($this->helper('Magento\Customer\Helper\Address')->isVatAttributeVisible()) : ?>
        <div class="field taxvat">
            <label class="label" for="vat_id"><span><?php echo $block->escapeHtml(__('VAT Number')) ?></span></label>
            <div class="control">
                <input type="text" name="shipping[vat_id]" value="<?php echo $block->escapeQuote($block->getAddress()->getVatId()) ?>" title="<?php echo $block->escapeQuote(__('VAT Number')) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('vat_id')) ?>" id="vat_id">
            </div>
        </div>
    <?php endif; ?>
    <div class="field city required">
        <label class="label" for="city"><span><?php echo $block->escapeHtml(__('City')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[city]" value="<?php echo $block->escapeQuote($block->getAddress()->getCity()) ?>" title="<?php echo $block->escapeQuote(__('City')) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('city')) ?>" id="city">
        </div>
    </div>
    <div class="field region required">
        <label class="label" for="region_id"><span><?php echo $block->escapeHtml(__('State/Province')) ?></span></label>
        <div class="control">
            <select id="region_id" name="shipping[region_id]" title="<?php echo $block->escapeQuote(__('State/Province')) ?>" class="validate-select" <?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>>
                <option value=""><?php echo $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
            </select>
            <input type="text" id="region" name="shipping[region]" value="<?php echo $block->escapeQuote($block->getRegion()) ?>"  title="<?php echo $block->escapeQuote(__('State/Province')) ?>" class="input-text <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('region')) ?>"<?php echo(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '';?>/>
        </div>
    </div>
    <div class="field zip required">
        <label class="label" for="zip"><span><?php echo $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
        <div class="control">
            <input type="text" name="shipping[postcode]" value="<?php echo $block->escapeQuote($block->getAddress()->getPostcode()) ?>" title="<?php echo $block->escapeQuote(__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international <?php echo $block->escapeQuote($this->helper('Magento\Customer\Helper\Address')->getAttributeValidationClass('postcode')) ?>">
        </div>
    </div>
    <div class="field country required">
        <label class="label" for="country"><span><?php echo $block->escapeHtml(__('Country')) ?></span></label>
        <div class="control">
            <?php echo $block->getCountryHtmlSelect(null, 'shipping[country_id]') ?>
        </div>
    </div>
</fieldset>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?php echo($block->getConfig('general/region/display_all') ? 'true' : 'false'); ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?php echo $this->helper('Magento\Directory\Helper\Data')->getRegionJson() ?>,
                "defaultRegion": "<?php echo (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?php echo $this->helper('Magento\Directory\Helper\Data')->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
