<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Create account form template
 *
 * @see \Magento\CustomerCustomAttributes\Block\Form
 */
/* @var $block \Magento\CustomerCustomAttributes\Block\Form */
?>
<?php if ($block->hasUserDefinedAttributes()): ?>
    <?php if ($block->isShowContainer()): ?>
        <fieldset class="fieldset">
    <?php endif;?>
    <?php $overridenAttributes = array('type_of_customer', 'student_school_validate_correc'); ?>
    <?php foreach ($block->getUserDefinedAttributes() as $code => $attribute):?>
        <?php if (strpos($code, 'dob_month') !== FALSE): continue; endif; ?>
        <?php if (in_array($code, $overridenAttributes)): ?>
            <?php if ($code == 'type_of_customer'): ?>
                <?php $options = $attribute->getSource()->getAllOptions(); ?>
                <div class="field field-<?php echo $code; ?>">
                <?php foreach ($options as $option): ?>
                    <?php if ( ! empty($option['value'])): ?>
                        <label class="label" for="<?php echo $attribute->getAttributeCode().'_'.$option['value']; ?>">
                        <input type="radio"
                               name="<?php echo $attribute->getAttributeCode(); ?>"
                               id="<?php echo $attribute->getAttributeCode().'_'.$option['value']; ?>"
                               value="<?php echo $option['value']; ?>"
                               class="validate-one-required-by-name"  data-validate="{'validate-one-required-by-name':true}"
                               data-name="<?php echo strtolower($option['label']); ?>"
                               <?php if ($this->getEntity()->getData($code) == $option['value']): ?>checked<?php endif; ?>
                               />
                        <?php echo $option['label']; ?></label>
                    <?php endif; ?>
                <?php endforeach; ?>
                </div>
            <?php else: ?>
                <div class="field field-<?php echo $code; ?>">
                    <label class="label" for="<?php echo $attribute->getAttributeCode(); ?>"><input type="checkbox"
                           name="<?php echo $attribute->getAttributeCode(); ?>"
                           id="<?php echo $attribute->getAttributeCode(); ?>"
                           value="1" <?php if ($this->getEntity()->getData($code)): ?>checked<?php endif; ?>/><?php echo $attribute->getStoreLabel(); ?></label>
                </div>
                </div>
            <?php endif; ?>
        <?php else: ?>
            <?php $attributeContent = $block->getAttributeHtml($attribute);?>
            <?php if ($attributeContent): ?>
                <?php if ($code == 'enthusiast_category'): ?>
                    <div id="enthusiast" class="specific-fields">
                <?php endif; ?>
                <?php if ($code == 'student_school'): ?>
                    <div id="student" class="specific-fields">
                <?php endif; ?>
                <?php if ($code == 'professional_industry'): ?>
                    <div id="professional" class="specific-fields">
                <?php endif; ?>
                <?php /* @escapeNotVerified */ echo $attributeContent;?>
                <?php if ($code == 'enthusiast_category'
                    OR $code == 'professional_industry_other'): ?>
                    </div>
                <?php endif; ?>
            <?php endif;?>
        <?php endif; ?>
    <?php endforeach;?>
    <?php if ($block->isShowContainer()): ?>
        </fieldset>
    <?php endif;?>
<?php endif; ?>
